/* this css for entire portfolio */

:root {
    --primary: #b6c7a6;  /* main nav color */
    --secondary: #e5dac8; /*second nav */
     --body-background:  linear-gradient(140deg,#fef9c3,#fff7ed,#ffffff); /*full body background */
     --main-nav-text: #374151; /* main nav text */
     --nav-a-hover: #ffffff; 
     --nav-a-hover-bg:#8c9d72;
     --nav-a-active-bg:#3b82f6;
     --nav-a-active-cl: white;
     --footer :  #494e36;
     --main-content-empty : aquamarine;
    /* --bg: #fefce8;
    --text-dark: #1e293b;
    --text-normal: #334155;
    --card-bg: #ffffff;
    --footer-bg:#f1f5f9;
    --accent: #3b82f6;
    --highlight: #22d3ee;
    --text-main: #f8fafc;
    --text-secondary: #94a3b8; */
}
.dark-theme{
      --primary: rgb(67, 63, 63);  /* main nav color */
    --secondary: rgb(18, 18, 220); /*second nav */
     --body-background:  linear-gradient(140deg,#322e2f,#2d2823,#8f3535);
       --main-nav-text: #827860; /* main nav text */
        --nav-a-hover: #f46464; 
     --nav-a-hover-bg:#a60c0c;
     --nav-a-active-bg:#410101;
     --nav-a-active-cl: rgb(93, 191, 215);
     --footer :  #020307;
      --main-content-empty : rgb(33, 35, 34);
}
#png-theme{
    height: 2rem;
}
*{
    padding: 0;
    margin: 0;
}
.fullbody{
    background: var(--body-background);
}
/* this one for nav one on the top containing another html files */
.navbar{
    background: var(--primary);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a{
    color: var(--main-nav-text);
}
.navbar a:hover {
    color: var(--nav-a-hover);
    border-radius: 6px;
    transition: 0.4s;
    /* border: 1px solid orangered; */
    padding: 6px 12px;
    background: var(--nav-a-hover-bg);
}

/* this is for all anchor tag properties applying commonly */
a{
    text-decoration: none;
    color: var(--primary);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 100;
    transition: 0.2s ease-in;
    justify-content: right;

}
/* This section is  belongs to all nav properties */
/* this is special css for active html page which shows blue box */
.navbar a.active {
    background: var(--nav-a-active-bg);
    color: var(--nav-a-active-cl);
    border-radius: 6px;
    padding: 6px 12px;
}
/* in the main nav profile pic  */
#profilepic{
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 2px solid;
    border: 2px solid var(--nav-a-active-bg);
}
/* this one is second nav top starting from main nav */
.nav2{
    color: chocolate;
    background: var(--secondary);
    display: flex;
    justify-content: right;
    /* background-image: url(banner.png);
    background-size: cover; */
    height: 40px;
}
/* in the second nav dark or light switcher  */
.switchtheme {
    justify-content: right;
    border-radius: 20px;
    padding: 3px;
    margin: 2px;
}
.switchtheme a{
    color: #436331e4;
}
.switchtheme i {
    color: #0f2027;
}
/* its footer for all pages  */
 .site-footer {
    background: var(--footer);
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    /* border-top-left-radius: 40px;
    border-top-right-radius: 40px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 /* footer icons  css */
 .footericon{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}
.footericon i {
    font-size: 50px;
    color: #00ADB5;
}
.footericon i:hover{
    color: #FF6B6B;
}
 .footer-lists {
    max-width: 1200px;
    margin-top: 100px;
    display: flex;
    gap: 5px;
    align-self: start;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
 .footer-list h4 {
    margin: 0 012px;
    border-bottom: 2px solid red;
    color: #1dd1a1;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700px;
    letter-spacing: .2px;
 }
 .footer-list ul {
    color: var(--primary);
    list-style: none;
    margin: 20px;
    padding: 0;
    gap: 8px;
    font-size: medium;
 }
 .foote-list a {
color: var(--secondary);
text-decoration: none;
 }
 .footer-list a:hover {
    opacity: 1;
    color: var(--nav-a-hover-bg);
    text-decoration: underline;
 }
p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(237, 224, 224);
    padding-bottom: 3px;
}

/* upper part is main nav and footers which is usedd on entire portfolio its coomon for all the html pages  */


/* footer2 which is hidden in main footer */
.footer2 {
    font-family: cursive;
    font-size: 18px;
    border-top: 3px solid red;
    

}

/* This part applying on contactus page form */

.formpage{
    width: 800px;
    height: auto;
    margin: 25px auto;
    padding: 10px;
    background: linear-gradient(120deg,#11998e,#38ef7d);
    border-radius: 20px;
    border: 3px solid red;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.9);
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: larger;
}
.formpage form {
display: flex;
flex-direction: column;
color: #ff032f;
box-shadow: #222;
align-items: center;
}


.formpage label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #fff;
}
.formpage input{
    text-align: center;
    color: rgba(9, 174, 219, 0.895);
    border-radius: 20px;
    box-sizing: border-box ;
    height: 40px;
    width: 600px;
    text-shadow: #222;
}
.formpage textarea{
    width: 600px;
    padding: 10px 12px;
}
/* this part belongs to formpage button */
.formpage button{
    margin-top: 6px;
    border: 1px solid red;
    box-sizing: 200px;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    cursor: pointer;
    background: linear-gradient(45deg,#ff6b6b, #5f27cd);
    color: white;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    
}
.btn-container {
    height: 25%;
    width: 50%;
    gap: 25%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.4s ease;
    
}
.btn-container button:hover {
color: red;
box-shadow: 0px 5px 15px wheat;
background: linear-gradient(45deg, #5f27cd,#ff6b6b);
}
/* Input box material except btn and age box */
#fullName {
    text-transform: capitalize;
    background: linear-gradient(45deg,#ff6b6b, #5f27cd);
    border: 2px solid black;
}
#fullName:hover{
    background: linear-gradient(45deg, #5f27cd,#ff6b6b); 
    border: 3px solid white;
    font-size: medium;
}
#email {
    background: linear-gradient(45deg,#ff6b6b, #5f27cd);
}
#email:hover{
     background: linear-gradient(45deg, #5f27cd,#ff6b6b);
     border: 3px solid white;
     font-size: medium;
}
#mobile {
    background: linear-gradient(45deg,#ff6b6b, #5f27cd);
}
#mobile:hover {
    background: linear-gradient(45deg, #5f27cd,#ff6b6b);
    border: 3px solid white;
    font-size: medium;
}
#city {
    text-transform: capitalize;
    background: linear-gradient(45deg,#ff6b6b, #5f27cd);
}
#city:hover {
    background: linear-gradient(45deg, #5f27cd,#ff6b6b);
    border: 3px solid white;
    font-size: medium;
}
#message {
    height: 120px;
    width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 20px;
    background: linear-gradient(45deg,#ff6b6b, #5f27cd);
    transition: 0.3s;
}
#message:hover {
    background: linear-gradient(45deg, #5f27cd,#ff6b6b);
    border: 5px solid white;
    font-size: larger;
}
#subject {
    color: wheat;
    text-transform: capitalize;
    padding: 5px;
    height: 40px;
    font-size: 16px;
    width: 200px;
    border: 3px solid #007bff;
    border-radius: 10px;
    background: linear-gradient(45deg,#ff6b6b, #5f27cd);
    appearance: none;
    transition: 0.4s;
}
#subject option {
    background: #2d3436;
    color: peru;
}
#subject option :hover{
background: #6c5ce7;
color: red;
}
#subject:hover {
    background: linear-gradient(45deg, #5f27cd,#ff6b6b);
    transform: scale(1.08);

}
#userphoto {
    padding: 8px;
    width: 20%;
    height: 20%;
    background: linear-gradient(45deg,#ff6b6b, #5f27cd);;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
#userphoto:hover{
    background: linear-gradient(45deg, #5f27cd,#ff6b6b);;
}
#age {
    height: 20px;
    max-width: fit-content;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    background: linear-gradient(135deg, #0f2027,#203a43, #2c5364);
    appearance: none;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}
#age::placeholder {
    color: #bbb;
}

/* this is banner from canva after nav */
#bannerimg{
height: 54vh;
display: flex;
 border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}

/* this part is specialy made  for welcome text in midle of the home page  */
.midpagenavsettings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.midpagenavsettings p{
color: #4e3c36;
font-family: 'Playfair Display', serif;
font-size: 100px;
font-weight: 5px;
}
.midpagenav {
    background: linear-gradient(135deg,#b6c7a6,#e8dbc5 );
     box-shadow: -5px 0 10px rgba(0,0,0,0.3),0 -5px 10px rgba(0,0,0,0.3),0 5px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 85%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;

}
.midpagenav:hover{
    box-shadow: 0 0 15px #ff416c, 0 0 30px #ff4b2b;
}

/* Here we are starting Home page css */

/* main content means after welcome  */
.maincontent{
    display: flex;
  /* background-image: url(scenemountain.jpg);  */
    background-size: cover;
    height: 100%;
}
/* this is main box in main content which is blur having two box  */
.boxformain{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: -5px 0 10px rgba(0,0,0,0.3),0 -5px 10px rgba(0,0,0,0.3),0 5px 10px rgba(0,0,0,0.3);
    transition: 0.2s ease-out;
    
} 
.boxformain:hover{
   backdrop-filter: blur(20px);
    box-shadow: 0 0 15px #ff416c, 0 0 30px #ff4b2b;
}
/* this is box one containing my name paragraph btn */
.box1homepage{
    padding: 30px;
    margin: 10px;
    width: 50%;
    height: 70%;
    border-left: 5px solid red;
} 
.box1homepage p{
    color: var(--nav-a-hover-bg);
    /* text-shadow: 0 0 15px #ff416c, 0 0 30px #ff4b2b; */
    font-size: 30px;
    margin-top: 30px;
}
.buttonsindex {
    display: flex;
    gap: 15px;
    margin-top: 25%;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20%;
}
.box1homepage h1{
    font-family: cursive;
    font-size: 60px;
    color: #d29104;
    padding: 0;
    height: fit-content;
} 
/* this is highlighting my name Harsh  */
.highlightname{
    color: #b6c7a6;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 0 0 10px #130c00;
    transition: 0.2s ease-out;
}
.highlightname:hover{
color: #56b871;
    font-size: 100px;
    font-weight: bold;
}
.btn {
    padding: 12px 24px;
    background: linear-gradient(90deg,#ff416c,#ff4b2b);
    color: white;
    text-decoration: none;
    box-shadow: 0 0 15px #ff416c, 0 0 30px #ff4b2b;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff416c, 0 0 30px #ff4b2b;
}
.btn.secondary{
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    box-shadow: 0 010px #00c6ff, 0 0 20px #0072ff;
}
.btn.secondary:hover {
    box-shadow: 0 0 15px #00c6ff, 0 0 30px #0072ff;
}
/* box 2 which is displaying my  big photo */
.box2homepage{
    padding: 30px; 
    width: 50%;
    height: 70%;
}
.box2homepage img{

    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border: 10px solid #0ff;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff,0 0  40px #0ff;
    border: border-box;
    height: 85%;
    width: 85%;
    transition: transform 0.4s ease;
}
.box2homepage img:hover{
     border: 10px solid #ff4b2b;
         box-shadow: 0 0 15px #ff416c, 0 0 30px #ff4b2b;
}
/* this is cards on homepage after main content */
.allcards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
   /* background-image: url(cloud-computing-illustration-technology.jpg) ; */
   display: flex;
   background-size: cover;
   
}
.btncard{
    color: green;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 80%;
    margin-top: 20%;
    margin-left: 20px;
    padding: 12px 24px;
    border: none;
    background: linear-gradient(90deg,#ff416c,#ff4b2b);
    color: white;
    text-decoration: none;
    box-shadow: 0 0 15px #ff416c, 0 0 30px #ff4b2b;
    border-radius: 5px;
}
.btncard:hover{
    transform: scale(1.05);
    background: linear-gradient(90deg,#4177ff,#32ff2b);
    box-shadow: 0 0 15px #4177ff, 0 0 30px #32ff2b;
}
.everycard{
    
    height: 300px;
    width: 850px;
    border-radius: 25px;
    padding: 10px;
     backdrop-filter: blur(5px);
    box-shadow: -5px 0 10px rgba(0,0,0,0.3),0 -5px 10px rgba(0,0,0,0.3),0 5px 10px rgba(0,0,0,0.3);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.1s ease-in-out;
    

}
.everycard img{
    width: 100%;
    height: 30vh;
    /* margin: 3px; */
    margin-right: 3px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.everycard:hover {
 transform: scale(1.09);
    box-shadow: 0 0 15px #ff416c, 0 0 30px #ff4b2b;
}

/* this is education page css  */
/* .table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    tab-size: 20px;
}
th {
    border: none;
    background: #00c6ff;
    margin: 0;
} */
 .education-container{
    background: #00c6ff;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
    padding: 30px;
    /* margin: auto; */
   
    /* justify-content: center;
    align-items: center; */
    
 }
.edubox{
    background: red;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4px;
    height: 40%;
    width: 50%;
    
    border: 2px solid green;
    margin: 5px;
}
.mainpart{
    height: 100vh;
    background: var(--main-content-empty);
}
.mainpart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.mainpart h4{
    color: var(--footer);
    text-shadow: #020307;
    font-weight: 500px;
    font-family: 'Times New Roman', Times, serif;
}
.mainpart p{
    color: #a60c0c;
    font-size: xx-large;
}
#btnempty{
    background: red;
}
